*,
html {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  background: #0c2c23;
  margin: 2rem;
}

h1 {
  text-align: center;
  color: #f9f871;
}

button {
  padding: 8px 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
}

#log-container {
  color: #b3d065;
  background: #23533a;
  margin: 2rem 0 0.5rem 0;
  padding: 18px;
  min-height: 256px;
  border: 1px solid transparent;
  border-radius: 5px;
}

form {
  display: flex;
  width: 100%;
}

form > input {
  border: none;
  width: 100%;
  border-radius: 4px;
  background: #656c74;
  font-size: 18px;
  padding: 4px 12px;
  color: #e1eae3;
}

form > input::placeholder {
  color: #e1eae3;
  opacity: 0.4;
}

form > button {
  margin-left: 1rem;
  background: #f9f871;
  font-size: 18px;
}

#control-buttons {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

#connect-btn {
  background: #1a3baa;
  color: #e1eae3;
}

#control-buttons > button {
  color: #e1eae3;
  font-size: 18px;
  padding: 8px 16px;
}

#disconnect-btn {
  background: #7e0000;
}

*:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
