*,
html {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

*:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

body {
  background: #0c2c23;
  margin: 2rem;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

h1 {
  text-align: center;
  color: #f9f871;
}

button {
  padding: 8px 16px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 4px;
  border: none;
}

button:not(:disabled):hover {
  cursor: pointer;
  opacity: 0.8;
}

#log-container {
  background: #23533a;
  margin: 2rem 0 0.5rem 0;
  padding: 18px;
  min-height: 256px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.log-info {
  color: #b3d065;
}

.log-error {
  color: #e0a7a3;
}

.log-sent {
  color: #e7fefe;
}

form {
  display: flex;
  width: 100%;
}

form > input {
  border: none;
  width: 100%;
  border-radius: 4px;
  background: #656c74;
  font-size: 18px;
  padding: 4px 12px;
  color: #e1eae3;
}

form > input::placeholder {
  color: #e1eae3;
  opacity: 0.4;
}

form > #send-btn {
  margin-left: 1rem;
  background: #f9f871;
}

form > #clear-btn {
  background: #c7c0f8;
  margin-left: 1rem;
}

#control-buttons > button {
  color: #e1eae3;
  padding: 8px 16px;
}

#connect-btn {
  background: #1a3baa;
  color: #e1eae3;
}

#disconnect-btn {
  background: #7e0000;
}

#custom-commands-container {
  margin: 2rem 0 1rem 0;
}

#custom-commands-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e1eae3;
  width: 100%;
}

#custom-commands-navbar > button {
  background: transparent;
  color: #e1eae3;
  border: 1px solid #e1eae3;
}

#custom-commands-navbar > button:hover {
  background: #e1eae3;
  color: #0c2c23;
}

#custom-commands-form {
  display: none;
  position: fixed;
  right: 2rem;
  margin-top: 6rem;
}

#custom-commands-form > form {
  display: block;
  box-sizing: border-box;
  padding: 1rem;
  background: #375249;
  max-width: 300px;
  border-radius: 4px;
}

#custom-commands-form > form > h3 {
  text-align: center;
  margin-bottom: 1rem;
}

#custom-commands-form > form > input {
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}

#custom-commands-form-buttons {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  gap: 1rem;
}

#custom-commands-form-buttons > button {
  font-size: 16px;
  background: #1a3baa;
  color: #e1eae3;
}

#cancel-custom-command {
  background: #7e0000 !important;
}

#custom-commands {
  display: flex;
  gap: 2rem;
}

.command-card {
  background: #375249;
  padding: 1rem;
  border-radius: 4px;
  color: #e1eae3;
}
